<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Search</h1>

    <% for(let i = 0; i < movieTitleListArray.length; i++) { %>

        <p><a href="/check_db/<%= movieTitleListArray[i] %>"><%= movieTitleListArray[i] %></a></p>

    <% } %>



    <p></p>
</body>
</html>