<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit Planet</h1>
    <h2>Planet ID: <%= planet.id %></h2>

    <form action="/update_planet" method="post">
        <label for="">title</label>
        <input type="text" name="name" value="<%= planet.name %>">
        <label for="">image url</label>
        <input type="text" name="image_url" value="<%= planet.image_url %>">
        <input type="hidden" name="planet_id" value="<%= planet.id %>">
        <button>Edit</button>
    </form>
</body>
</html>