* {
    box-sizing: border-box;
    text-align: center;
    /* border: 1px solid red; */
}

h1 {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.balance-prompt {
    text-align: center;
}

.sign {
    align-content: right;

}

.more-info {
    color: red;
}

.main-container {
    width: 80%;
    margin: 0 auto;
    background-color: #c0dc9a;
    border: 5px solid black;
}

#display {
    margin: 20px 0 20px 0;
}

.balance {
    font-size: 30px;
}