<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>99 Bottles</title>
    <link href="https://fonts.googleapis.com/css?family=Gaegu" rel="stylesheet">
  <link rel='stylesheet' href='/style.css'>
</head>
<body>
    <p>No bottles of warm water on the wall. <a href='/99'>Start Over</a>.</p>
</body>
</html>