<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
    </ul>

    <h1>About me</h1>
    <p>“In the beginning the Universe was created.
        This had made many people very angry and has been widely regarded as a bad move.” </br>
        
        ― Douglas Adams, The Restaurant at the End of the Universe</p>
    
</body>
</html>