* {
    font-family: Arial, Helvetica, sans-serif;
    /* border: 1px solid red; */
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #f1f1f1;
}

.header_tools {
    text-align: right;
    margin: auto 10px;
}

input {
    color: #656464;
}

h1 {
    display: inline-block;
}

/* body {
    background-color: #bdcb9c;
} */

section {
    background-color: white;
    width: 90%;
    margin: auto;
}

h3 {
    margin: 20px;
}

article {
    background-color: #404040;
    width: fit-content;
    margin: 3px;
}

img {
    width: 200px;
}

h4 {
    color: #bdcb9c;
    margin: 10px;
}

p {
    color: white;
    margin: 10px;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.main_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 80%;
    margin: auto;
}